body {

    background-color: lightblue;
}

#wrap
{
    font-style: italic;
    font-family:'Brushstroke', fantasy, serif;
 
    
  
   
    
}

#sonnet{
   
   margin: auto;
    text-align: left;
    width: 25%;
   
}

